.headerBG {
  background: url('./Images/pgbc.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.navbar {
  margin-bottom: 0px;
}

.welcomeHeader {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 45px;
}

.welcomePTag {
  font-size: 28px;
  font-weight: normal;
}

.home-about-me,
.home-portfolio-preview,
.home-research,
.home-contact-preview {
  display: grid;
  grid-gap: 40px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
  font-size: 18px;
}
.home-about-me-title,
.home-portfolio-preview-title,
.home-research-title,
.home-contact-preview-title {
  font-weight: bold;
  font-size: 22px;
}

@media(min-width:100px){
  .home-about-me,
  .home-portfolio-preview,
  .home-research,
  .home-contact-preview {
    grid-template-columns: 1fr;
    /* background-color: red; */
  }
}

@media(min-width:700px){
  .home-about-me,
  .home-portfolio-preview,
  .home-research,
  .home-contact-preview {
    grid-template-columns: 1fr 1fr;
    /* background-color: blue; */
  }
}

img {
  width: 100%;
}

.nav {
  font-weight: bold;
  font-size: 22px;
}

.navLink {
  font-weight: normal;
  font-size: 18px;
}

.footerLink {
  font-weight: normal;
  font-size: 16px;
}
